root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Formatting rules
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true

# Wrap long lines
max_line_length = 120